<div class="weiboshow">
  <p class="asidetitle"><%= __('weibo') %></p>
  	<iframe width="100%" height="119" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&amp;width=0&amp;height=119&amp;fansRow=2&amp;ptype=1&amp;speed=0&amp;skin=9&amp;isTitle=1&amp;noborder=1&amp;isWeibo=0&amp;isFans=0&amp;uid=<%= theme.author.tsina %>&amp;verifier=<%- theme.author.weibo_verifier %>&amp;dpc=1"></iframe>
</div>

